<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="footer">
    <div class="container-wide">
        <div class="row-footer">
            <div class="col-sm-12 footer-right">
                <div class="socials">
                    <a href="https://twitter.com/mattmuse12/" target="_blank"><i class="iconsfa fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/mattmuse12/" target="_blank"><i class="iconsfa fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/never.stop11/" target="_blank"><i class="iconsfa fa fa-facebook-official"></i></a>
                    <a href="https://itunes.apple.com/az/artist/matt-muse/1235288928" target="_blank"><i class="iconsfa fa fa-apple" aria-hidden="true"></i></a>
                    <a href="https://open.spotify.com/artist/4WUHZVB8wkTnWXQGbF4SCz?si=aH4IuHeRTju-GPWD7mlLSw" target="_blank"><i class="iconsfa fa fa-spotify" aria-hidden="true"></i></a>
                    <a href="https://www.soundcloud.com/mattmuse12/" target="_blank"><i class="iconsfa fa fa-soundcloud"></i></a>
                    <a href="https://www.youtube.com/mattmuse12/" target="_blank"><i class=" iconsfa fa fa-youtube-play"></i></a>
                </div>
            </div>
        <!-- row End -->
        </div>
        <div>
            <div class="cr col-sm-12">
                <p class="copyright"><a href="/contact/">Contact Matt Muse</a></p>
            </div>
        </div>
    <!-- container-wide End -->
    </div>
<!-- footer End -->
</div>

<style>
    .row-footer {
        /* margin-right: -15px; */
        margin-left: -15px;
    }
</style>