<div id="header" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a  href="/"class="navbar-brand">MATT MUSE</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/music">Nappy Talk</a></li>
                <li><a href="/bio">BIO</a></li>
                <li><a href="https://mattmuse.bigcartel.com/">MERCH</a></li>
                <li><a href="/shows">Shows</a></li>
                <li><a href="/press">PRESS</a></li>
                <!-- <li><a href="/visuals">VISUALS</a></li> -->
            </ul>
        </div>
    </div>
</div>