<link rel="stylesheet" href="./stylesheets/bio.css">

<div id="header"></div>
<div class="container bio-page">
    <img src="./images/biobg.jpg" alt="Matt Muse Stage">
    <!-- <h2 id="typed-strings" id="typed">MATT MUSE BIO</h2> -->
    <p class="bio-text">
    A rapper & producer from Chicago, Matt Muse burst onto the Chicago music scene with his performance at the 2016 “AAHH Fest!” alongside J. Cole, Common, Vic Mensa, The Roots & more.  With a bold presence, dynamic lyricism, & a one of a kind live performance, Matt Muse has become a mainstay in Chicago Hip-Hop while certainly moving toward national recognition.
    </p>
    <p class="bio-text">
    On July 13, 2018 he released his debut album Nappy Talk & headlined the Goose Island Stage at the Taste of Chicago. The album received much acclaim and ranked 44 on Lyrical Lemonade’s Top 50 Chicago Project’s of 2018 list.  In anticipation of the album, Matt was featured on Fox 32’s Good Day Chicago on July 10th where he was interviewed and performed the song ‘Shea Butter Baby’ (a single from Nappy Talk). Two days later he appeared on The Jam TV Show to promote the album and perform the lead single ‘Getting to It’. 
    </p>

    <p class="bio-text">
            In October of 2018, ‘Getting to It’ was featured on NPR radio’s Buried Treasures segment that highlights promising upcoming musical talent across the country. The Chicago Tribune published an article on Matt Muse & Nappy Talk in June of 2018, opening with the statement “’Nappy Talk’ is next level”.
    </p>

    <p class="bio-text">
            n a July review of the album, the Chicago Reader said “his cool-in-the-pocket affection on “Getting to It” is the stuff that turns rappers into stars.” & Elevator Mag published a feature on Nappy Talk stating that “the project drips with lyricism and swagger that only a true Chicagoan could bring”. Matt was also interviewed on WGN Radio’s Corner Store Podcast in August of 2018 to discuss the album and his background in hip-hop. 
    </p>

    <p class="bio-text">
            Matt has also been heard/featured in Sway in the Morning, Power 92 Chicago, The Chicago Reader,Stereogum, Passion of the Weiss, Fake Shore Drive, These Days News, and more.
    </p>

    <p class="bio-text">
            In March 2017, he released his first EP entitled The SiKK Tape. It has since been featured in and praised by The Chicago Reader, and received ‘Honorable Mention’ on Lyrical Lemonade’s “Top 50 Chicago Projects of 2017” list.
    </p>

    <p class="bio-text">
            On March 29, 2017, Muse embarked on a 13-stop promotional tour for The SiKK Tape that spanned the Eastern and Southern parts of the United States, as well as a stop in Canada. Matt’s first ever tour commenced in Toronto in June 2017 and served as a flawless start to a new chapter of Matt’s career and a solid boost to his listenership.
    </p>

    <p class="bio-text">
            In 2016 Matt was a featured speaker and the NIU TedX event where he delivered a Ted Talk entitled “Hip-Hop Heaven” that discussed the importance and impact of Hip-Hop music to both his life and the genres expansive listeners worldwide, the motivation behind his blossoming musical journey. 
    </p>
</div>