<link rel="stylesheet" href="./stylesheets/index.css">

  <header class="v-header container">

    <div class="slideshow">
      <div class="mySlides videoWrapper fullscreen-video-wrap">
      <h1 class="vid-title">DON'T TWEAK VIDEO</h1>
        <iframe
          class="youtube-video"
          src="https://www.youtube.com/embed/gfhQAl5y1Bs"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen controls>
        </iframe>
      </div>
      <div class='mySlides'>
        <h1 class="vid-title">New Single</h1>
        <img class='album-cov' src="./images/newpic.png" alt="New Pic" srcset="">
      </div>
      <div class='mySlides'>
        <h1 class="vid-title">NAPPY TALK ALBUM</h1>
        <img class='nappy-cov' src="./images/nappytalkbg.jpeg" alt="New Pic" srcset="">
        </div>  
    </div>

  </header>


<script>
  var slideIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 2000); 
  }
</script>

  {{!-- three different images --}}

  {{!-- the unactive images will be hidden --}}

  {{!-- upon hiitting the next arrow the active class should swap --}}
