
<div class="container">
    <div id="card-bg" class="row text-center center-block">
            <div class="col-md-12">
                <p class="artist-name">MATT MUSE - Nappy Talk</p>
            </div>
            <div class="col-sm-6 center-block">
                    <iframe src="https://open.spotify.com/embed/album/1n1817z6aXU4DZ2uOLqq4I" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col-sm-6">
                <div class="social-box center-block">
                    <a href="https://itunes.apple.com/az/album/nappy-talk/1402956445"><img class="social apple" src="./images/logos/apple.png"></a>
                </div>
                <div class="social-box center-block">
                    <a href="https://open.spotify.com/album/1n1817z6aXU4DZ2uOLqq4I?si=GU70Cr7TTjeJvK-sMoAiuA"><img class="social spotify"  src="./images/logos/spotify.png"></a>
                </div>
                <div class="social-box center-block">
                    <a href="https://soundcloud.com/mattmuse12/sets/nappy-talk-super-rough"><img class="social soundcloud" src="./images/logos/soundcloud.png"></a>
                </div>
                <div class="social-box center-block">
                        <a href="https://listen.tidal.com/album/90852829"><img class="social tidal" src="./images/logos/tidal.png"></a>
                </div>
                <div class="social-box center-block">
                        <a href="https://audiomack.com/album/matt-muse/nappy-talk"><img class="social audiomack" src="./images/logos/audiomack.png"></a>
                </div>
                <div class="social-box center-block">
                    <p>Buy It</p>
                </div>
                <div class="social-box center-block">
                        <a href="https://itunes.apple.com/us/album/nappy-talk/1402956445?app=itunes&ign-mpt=uo%3D4"><img class="social itunes" src="./images/logos/itunes.png"></a>
                </div>
                <div class="social-box center-block">
                        <a href="https://mattmuse.bandcamp.com/album/nappy-talk"><img class="social bandcamp" src="./images/logos/bandcamp.png"></a>
                </div>
                <div class="social-box center-block">
                        <a href="https://play.google.com/store/music/album/Matt_Muse_Nappy_Talk?id=Bthu36rueyme2msvech3jzap6wm&hl=en"><img class="social googleplay" src="./images/logos/googleplay.png"></a>
                </div>
                <div class="social-box center-block">
                        <a href="https://www.amazon.com/Nappy-Talk-Explicit-Matt-Muse/dp/B07DYBNSZX/ref=mp_s_a_1_1?ie=UTF8&qid=1531469474&sr=8-1&pi=AC_SX236_SY340_QL65&keywords=matt+muse+nappy+talk&dpPl=1&dpID=41PlicggeuL&ref=plSrch"><img class="social amazonmusic" src="./images/logos/amazonmusic.png"></a>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<link rel="stylesheet" href="./stylesheets/music.css">