<link rel="stylesheet" href="./stylesheets/press.css">
<div class="container press-page">
    <div class="wrapper ">
        <!-- <a target="_onblank" href="https://www.fox32chicago.com/mornings/345719056-video"> -->
            <img onclick="window.open('https://www.fox32chicago.com/mornings/345719056-video', '_blank');" src="./images/press/logo7.png" alt="Fox 32 News">
        <!-- </a> -->
        <!-- <a class="press-link"target="_onblank"> -->
            <img onclick="window.open('https://www.chicagotribune.com/entertainment/music/ct-ott-chicago-music-local-sounds-0629-story.html')" src="./images/press/logo6.png" alt="Matt Muse Stage">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://www.youtube.com/watch?v=05uRkoMOvZU"> -->
            <img onclick="window.open('https://www.youtube.com/watch?v=05uRkoMOvZU')" src="./images/press/logo5.png" alt="Matt Muse Stage">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://wgnradio.com/2018/08/28/dj-spinn-advent-of-footwork-legacy-of-dj-rashad-and-more-matt-muse-shares-insight-on-his-most-recent-project/"> -->
            <img onclick="window.open('https://wgnradio.com/2018/08/28/dj-spinn-advent-of-footwork-legacy-of-dj-rashad-and-more-matt-muse-shares-insight-on-his-most-recent-project/')" src="./images/press/logo4.png" alt="Matt Muse Stage">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://www.chicagotribune.com/redeye/culture/ct-redeye-chicago-rapper-matt-muse-interview-listening-party-20180511-story.html"> -->
            <img onclick="window.open('https://www.chicagotribune.com/redeye/culture/ct-redeye-chicago-rapper-matt-muse-interview-listening-party-20180511-story.html')" src="./images/press/logo3.png" alt="Matt Muse Stage">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://lyricallemonade.com/p/top-50-chicago-projects-of-2018"> -->
            <img onclick="window.open('https://lyricallemonade.com/p/top-50-chicago-projects-of-2018')" src="./images/press/lllogo.jpg" alt="">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://www.stereogum.com/2004813/matt-muse-femdot-negrosaiyan-nappy-talk/premiere/"> -->
            <img onclick="window.open('https://www.stereogum.com/2004813/matt-muse-femdot-negrosaiyan-nappy-talk/premiere/')" src="./images/press/stelogo.png" alt="">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://www.chicagoreader.com/chicago/chicago-rapper-matt-muse-grows-the-way-he-wants-to-with-nappy-talk/Content?oid=52254304">  -->
            <img onclick="window.open('https://www.chicagoreader.com/chicago/chicago-rapper-matt-muse-grows-the-way-he-wants-to-with-nappy-talk/Content?oid=52254304')" src="./images/press/logo2.jpg" alt="Matt Muse Stage">
        <!-- </a> -->
        <!-- <a class="press-link" target="_onblank" href="https://www.passionweiss.com/2018/09/13/matt-muse-nappy-talk-interview/" target="_onblank"> -->
            <img onclick="window.open('https://www.passionweiss.com/2018/09/13/matt-muse-nappy-talk-interview/')"src="./images/press/logo1.png" alt="Matt Muse Stage">
        <!-- </a> -->
    </div>
</div>

<script>
    function imageClick(url) {
        window.location = url;
    }
</script>