.mySlides {display:none;}

.album-cov {
    margin-top: 5.8em;
    max-height: 81vh;
    width: 81%;
    margin-right: auto;
    margin-left: auto;

}

body {
    background-color: rgb(11, 11, 11);
}

@media (min-width: 1200px) {
    .container {
        width: inherit;
    }   
}

.slideshow {
    margin: 0 auto;
}

.nappy-cov {
    margin-top: 5.8em;
    max-height: 79vh;
    width: 50%;
    margin-top: 5.8em;
    margin-right: auto;
    margin-left: auto;

}